.products__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29.8%;
    padding: 0 25px 50px 23px;
    position: relative;
}


.product__content::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    border: 3px solid #d3c59d;
    left: 0;
    top: 173px;
    width: 100%;
    height: 267px;
}

.product__photo {
    width: 301px;
    height: 206px;
}

.product__img {
    width: 100%;
    height: 100%;
}

.product__info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    z-index: 4;

}


.product__body {
    margin-bottom: 22px;

}

.product__title {
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.28;
    color: #000000;
    margin-bottom: 13px;
}

.product__desc p {
    font-family: "Open-Sans reg";
    font-size: 15px;
    line-height: 1.28;
}

.product__desc-link {
    font-family: "Open-Sans reg";
    font-size: 15px;
    line-height: 1.28;
    color: #baa667;
}
.product__desc-link:hover{
    text-decoration: underline;
}

.product__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

}

.product__prices {
    display: flex;
    flex-direction: column;
}

.product__price {
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.28;
    color: #000000;
}

.product__price_old {
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: line-through;
    line-height: 1.28;
    color: #000000;
}

.product__button {
    height: 50px;
    width: 140px;
    background-color: #b59f5b;
    border: none;
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    z-index: 4;
}

@media (min-width: 671px) and (max-width: 1200px) {
    .products__block {
        flex-wrap: wrap;
    }

    .product__content {
        width: 48.3%;
        margin-bottom: 30px;
    }

    .product__photo {
        
        width: 100%;
        height: 271px;
    }

    .product__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 100%;

    }

    .product__content::after {
        top: 45%;

        height: 267px;
    }
}

@media (max-width: 670px) {
    .products__block {
        flex-wrap: wrap;
    }

    .product__content {
        width: 100%;
        margin-bottom: 30px;
    }

    .product__photo {
        width: 100%;
        height: 100%;
    }



    .product__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 100%;
    }

    .product__content::after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        border: 3px solid #d3c59d;
        left: 0;
        top: 60%;
        width: 100%;
        height: 40%;
    }
}