.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-family: "Open-Sans";
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.28;
  margin-bottom: 40px;
  position: relative;
}
.section__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  top: 28px;
  left: 30%;
}
.trends__block {
  display: flex;
  width: 100%;
}

.trend__post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25%;
  margin-right: 5px;
  position: relative;
  z-index: 1;
  height: 322px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trend__post:last-child {
  margin-right: 0;
}

.trend__post::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.trend__post-first {
  background-image: url(../IMG/trend1.jpg);
}

.trend__post-second {
  background-image: url(../IMG/trend2.jpg);
}

.trend__post-third {
  background-image: url(../IMG/trend3.jpg);
}

.trend__post-fourth {
  background-image: url(../IMG/trend4.jpg);
}

.trend__content {
  z-index: 3;
  border: 4px solid #74673e;
  margin: 0 22px 17px 17px;
  padding: 42px 37px 35px 37px;
}

.trend__title {
  margin-top: 10px;
  font-family: "Open-Sans";
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.28;
  color: #ffffff;
  z-index: 3;
}

@media (min-width: 671px) and (max-width: 1200px) {
  .trends__block {
    flex-wrap: wrap;
  }
  .trend__post {
    width: 49.6%;
    margin-bottom: 3px;
  }
  .trend__post:nth-child(2n + 2) {
    margin-right: 0;
  }

  .trend__content {
    z-index: 3;
    border: 4px solid #74673e;
    margin: 0 4.72% 6.05% 4.98%;
  }
}

@media (max-width: 670px) {
  .trends__block {
    flex-wrap: wrap;
  }
  .trend__post {
    width: 100%;
    margin-bottom: 3px;
    margin-right: 0;
  }
  .trend__post:last-child {
    margin-bottom: 0;
  }

  .trend__content {
    z-index: 3;
    border: 4px solid #74673e;
    margin: 0 4.72% 6.05% 4.98%;
  }
}
